table {
    width: 520px !important;
    background-color: rgba(250, 235, 215, 0.512);
    max-height: 470px;
    overflow: auto;
    display: inline-block;
    table-layout: fixed;
    word-wrap: break-word;
}

.App {
    text-align: center;
}

thead {
    position: sticky; 
    top: 0; 
    z-index: 1;
    background-color: white;
}
