@import "../variable.scss";
@import "../inheritance.scss";

.cost-filter-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 480px;
    background-color: $secondary-background-color;
    padding: 24px 16px  16px;
    border-radius: 10px;
  }

  .cost-filter-header-main {
    color: $primary-color;
    margin-bottom: 20px;
    text-align: left;
  }

  // ITEM PART

  .filter-configure-line {
    @extend .flex-direction-row;
      align-items: center;
      margin: 15px 0;
      width: 100%;
  }

  .filter-configure-line:nth-of-type(2) {
    border-top: 1px solid rgba(177, 177, 177, 0.7);
    border-bottom: 1px solid rgba(177, 177, 177, 0.7);
    padding: 15px 0;
}

  .cost-filter-label {
    color: $primary-color;
    margin-right: 50px;
    margin-left: 10px;
  }

  .text {
    color: $primary-color;
    font-size: $font-size;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 8px;
    margin-left: auto;
  }




