@import "../variable.scss";
@import "../inheritance.scss";

table {
    width: 520px !important;
    background-color: $secondary-background-color;
    max-height: 470px;
    overflow: auto;
    display: inline-block;
    table-layout: fixed;
    word-wrap: break-word;
}

.App {
    text-align: center;
}

thead {
    position: sticky; 
    top: 0; 
    z-index: 1;
    background-color: $primary-color;
}

.spinner {
    @extend .App, .flex-content-center;
    margin: auto auto
}
