.flex-content-center {
    display: flex;
    justify-content: center;
}

.flex-direction-row {
    display: flex;
    flex-direction: row;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}