// font size
$font-size: 16px;
$font-size-big : 18px;
$font-size-bigger : 24px;

// font weight
$font-weight-bold: 600;

// colors
$primary-color: white;
$red-text-color: rgb(255, 0, 0);
$secondary-background-color: rgba(199, 199, 199, 0.384);
